<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Blackbaud's OWASP Quiz Show" class="img-responsive text-center" src="modules/core/img/brand/game_show.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<h2>
				Secure Coding Practices Quiz
			</h2>
			<p class="lead">
				<a href="/login">Click here to start or continue your quiz.</a>
			</p>
		</div>
</section>
