<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.webServer>
      <handlers>
           <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
     </handlers>

      <rewrite>
           <rules>

                <rule name="LogFile" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                     <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$" />
                </rule>

                <rule name="NodeInspector" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js\/debug[\/]?" />
                </rule>

                <rule name="StaticContent" enabled="true" patternSyntax="ECMAScript">
                     <action type="Rewrite" url="public{REQUEST_URI}" />
                    <match url="^aspnet_client|^BBNCService|^CapWizService|^EmailStatus|^GeneralPurpose|^IcePick|^node|^Transactional" negate="true" />
                </rule>

                <rule name="DynamicContent" enabled="true" patternSyntax="ECMAScript">
                     <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                     </conditions>
                     <action type="Rewrite" url="server.js" />
                    <match url="^aspnet_client|^BBNCService|^CapWizService|^EmailStatus|^GeneralPurpose|^IcePick|^node|^Transactional" negate="true" />
                </rule>

           </rules>
      </rewrite>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="http://mailsrv-web2.pdnt.blackbaud.com" responseMode="Redirect" />
        </httpErrors>
      <!--  <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
            </authentication>
        </security>-->
        <!--<httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://ncservicetest.blackbaud.com" responseMode="Redirect" />
            <error statusCode="403" subStatusCode="4" path="https://ncservicetest.blackbaud.com" responseMode="Redirect" />
        </httpErrors>
-->

<!--
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment="node_modules" />
          </hiddenSegments>
        </requestFiltering>
      </security>
-->

   </system.webServer>
   <appSettings>
     <add key="deployPath" value="/localhost" />
   </appSettings>

</configuration>
