<section data-ng-controller="QuizController" data-ng-init="grabQuestion()">
	<div class="page-header">
		<h1>Question</h1>
  </div>
  <div class="form-group">
    <h2 data-ng-bind="randomQuestion.name"></h2>
    <form class="form-horizontal" novalidate>
      <fieldset>
      	<table>
    			<tr ng-repeat="answer in randomQuestion.answers">
    				<td>
							<input type="radio" ng-model="answers" id="answers" name = "answers" value = "{{answer}}" required>
            </td>
            <td class="rdo-answer">{{answer.key}}.</td>
    				<td class="rdo-answer">{{answer.value}}</td>
    			</tr>
					<tr>
						<td colspan="3">
							<button ng-click="answerQuestion()" class="btn btn-primary">Submit</button>
						</td>
					</tr>
    		</table>
      </fieldset>
    </form>
  </div>
</section>
