
<!--
<section data-ng-controller="QuizController" data-ng-init="grabQuestion()">
    <div class="page-header">
        <h1>Questions</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="question in questions" data-ng-href="#!/questions/{{question._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="question.created | date:'medium'"></span>
				by
				<span data-ng-bind="question.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="question.name"></h4>
        </a>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!questions.$resolved">
    	No Questions yet, why don't you <a href="/#!/questions/create">create one</a>?
    </div>
</section> -->

<section data-ng-controller="QuizController" data-ng-init="grabQuestion()">
	<div class="page-header">
		<h1>Quiz Time</h1>
  </div>
  <div class="form-group">
    <h2 data-ng-bind="randomQuestion.name"></h2>
    <form class="form-horizontal" novalidate>
      <fieldset>
        <table>
    			<tr ng-repeat="answer in randomQuestion.answers">
    				<td>
              <input type="radio" name="answers" ng-model="answers">
            </td>
            <td class="rdo-answer">{{answer.key}}.</td>
    				<td class="rdo-answer">{{answer.value}}</td>
    			</tr>
    		</table>
        <div class="form-group">
            <button ng-click="answerQuestion()" class="btn btn-default">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
