<section data-ng-controller="QuestionsController">
    <div class="page-header">
        <h1>New Question</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Add Question</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Question" required>
                    </div>

                    <label class="control-label" for="answers">Add Answers</label>
                    <div class="controls">
                        <input type="text" data-ng-model="answerKey" id="answerKey" class="form-control" placeholder="A" required><br />
                        <input type="text" data-ng-model="answerValue" id="answerValue" class="form-control" placeholder="I am an incorrect answer." required><br />
                        <input type="text" data-ng-model="answerCorrect" id="answerCorrect" class="form-control" placeholder="false" required><br />
                    </div>
                    <div class="form-group">
                        <button ng-click="addAnswer()" class="btn btn-default">Add answer</button>
                    </div>
                    <div class="controls">
                        <input type="text" data-ng-model="reason" id="reason" class="form-control" placeholder="Because" required>
                    </div>
                </div>
                <div class="form-group">
                  <h4>Current answers:</h4>
                  <table>
                    <tr ng-repeat="answer in answers">
                      <td><b>Key:</b> {{answer.key}} -</td>
                      <td><b>Value:</b> {{answer.value}} -</td>
                      <td><b>Correct:</b> {{answer.correct}}</td>
                    </tr>
                  </table>
                </div>
                <div class="form-group">
                    <button ng-click="addQuestion()" class="btn btn-default">Add question and answers</button>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
