<section data-ng-controller="AnswersController">
	<div class="page-header">
		<h1>Answer</h1>
	</div>
	<div class="form-group">
		<form class="form-horizontal" novalidate>
			<fieldset>
  	<h2 data-ng-bind="question.name"></h2>
 			<table>
				<tr ng-repeat="answer in question.answers">
  			<td class="rdo-answer">
  				<span	ng-class="{green:answer.correct,red:!answer.correct }">
						{{answer.key}}.
  				</span>
				</td>
				<td>
					<span	ng-class="{green:answer.correct,red:!answer.correct }" class="rdo-answer">
						{{answer.value}}
					</span>
				</td>
				</tr>
				<tr>
					<td colspan="2">
								<p>You answered:
						<span data-ng-bind="question.answerKey" style="font-weight:bold"></span>
					</p>
				</td>
				</tr>
				<tr>
				<td colspan="2">
					<a class="btn btn-primary btn-lg" href="/#!/quiz">Continue</a>
				</td>
			</tr>
			</table>
		</fieldset>
	</form>


 	</div>
</section>
